<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.mapper.ActivityOutcomeMapper">

    <resultMap id="BaseResultMap" type="com.it.domain.ActivityOutcome">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="activityName" column="activity_name" jdbcType="VARCHAR"/>
            <result property="executeNum" column="execute_num" jdbcType="INTEGER"/>
            <result property="disposeTimeAvg" column="dispose_time_avg" jdbcType="TIMESTAMP"/>
            <result property="awaitTimeMax" column="await_time_max" jdbcType="TIMESTAMP"/>
            <result property="awaitTimeMin" column="await_time_min" jdbcType="TIMESTAMP"/>
            <result property="awaitTimeAvg" column="await_time_avg" jdbcType="TIMESTAMP"/>
            <result property="awaitTimeMaxNum" column="await_time_max-num" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="historyProcessId" column="history_process_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,activity_name,execute_num,
        dispose_time_avg,await_time_max,await_time_min,
        await_time_avg,await_time_max-num,create_time,
        history_process_id
    </sql>
</mapper>
