<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.mapper.GatewaySideMapper">

    <resultMap id="BaseResultMap" type="com.it.domain.GatewaySide">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="sideId" column="side_id" jdbcType="VARCHAR"/>
            <result property="probabilityValue" column="probability_value" jdbcType="VARCHAR"/>
            <result property="gatewayId" column="gateway_id" jdbcType="VARCHAR"/>
            <result property="historyProcessId" column="historyProcessId" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,side_id,probability_value,gateway_id,historyProcessId
    </sql>
</mapper>
