<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.it.domain.User">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="historyProcessId" column="history_process_id" jdbcType="INTEGER"/>
            <result property="startEmulationTime" column="start_emulation_time" jdbcType="TIMESTAMP"/>
            <result property="endEmulationTime" column="end_emulation_time" jdbcType="TIMESTAMP"/>
            <result property="isCq" column="is_cq" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_name,history_process_id,start_emulation_time,end_emulation_time,is_cq
    </sql>
</mapper>
